body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    background-color: rgb(255, 255, 238);
}

#tablero {
    padding: 5px;
    padding-left: 50px;
    border: 1px;
    border-style: solid;
    border-color: black;
}
#crear_post {
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 5px;
}
#postear {
    border: none;
    text-decoration: wavy;
    font-size: 25px;
}
#post {
    padding-left: 25px;
    padding-right: 10px;
    border: 1px;
    border-style: solid;
    border-color: black;
}
#img{
    width: 10%;
    height: 10%;
    margin-left: 50px;
}
#post_text {
    display: inline;
    margin-left: 30px;
}
#respuestas {
    padding: 5px;
    padding-left: 50px;
    border-top: 1px;
    border-bottom: 0px;
    border-style: solid;
    border-color: black;
}