#navegacion {
    display: flex;
    gap: 15px;
    
    background-color: antiquewhite;
    border: 1px;
    border-style: solid;
    border-color: black;
}
#sesion{
    display: flex;
    gap: 15px;
}