{% load static %}
<link rel="stylesheet" href="{% static '/css/nav_general.css' %}">
<nav id="navegacion">
    <h1>r9k_L</h1>

    <section id="sesion">
        <!-- Bloque de autenticación --> 
        {% if login_status and username %} 
          <p>Bienvenid@, {{ username }}!</p>
          <a href="{% url 'logout' %}">Cerrar sesión</a> 
        {% else %} 
          <a href="{% url 'login' %}">Login</a> | 
          <a href="{% url 'registro' %}">Registro</a> 
        {% endif %} 
        <!-- Fin bloque autenticación -->
    </section>

    <section id="Tablones">
        <a href="/"><h1>HOME</h1></a>
    </section>
</nav>
{% block content%}
{% endblock %}